<!DOCTYPE HTML>
<html lang="">

<body>
<div>Список сообщений</div>
    {{#message}}
        <div>
           <b>{{id}}</b>
            <span>{{text}}</span>
            <i>{{tag}}</i>
        </div>
    {{/message}}
</body>

</html>